.card {
    margin: 2em;
    padding: 0;
}

.card .card-logo {
    min-width: 10em;
    max-width: 20em;
}

.card .card-logo img {
    max-width: 10em;
    max-height: 5em;
    margin-bottom: -1em;
}

.card .card-qr {
    min-width: 12em;
    min-height: 12em;
    margin-bottom: -1em;
}

.pdf-card {
    margin: 0 2em;
    padding: 0;
    max-height: 30em;
}

.pdf-card .pdf-card-logo {
    max-width: 10em;
    max-height: 5em;
    margin-bottom: -1em;
}

.pdf-card .pdf-card-logo img {
    max-width: 10em;
    max-height: 5em;
    margin-bottom: -1em;
}

.pdf-card .pdf-card-input-name {
    max-width: 15em;
    max-height: 5em;
    margin-bottom: -1em;
}

.pdf-card .pdf-card-input-surname1 {
    max-width: 10em;
    max-height: 5em;
    margin-bottom: -1em;
}

.pdf-card .pdf-card-input-surname2 {
    max-width: 10em;
    max-height: 5em;
    margin-bottom: -1em;
}

.pdf-card .pdf-card-input-code {
    max-width: 10em;
    max-height: 5em;
    margin-bottom: 0.5em;
}

.pdf-card .pdf-card-image {
    max-width: 3em;
    max-height: 3em;
    margin-bottom: -1em;
}

.pdf-card .pdf-card-qr {
    max-width: 3em;
    max-height: 3em;
    margin-bottom: -1em;
}

.white {
    width: 15em;
    height: 20em;
    position: absolute;
    color: white;
    background-color: white;
}