/* Camera QR CSS */
.camera-qr {
    height: auto;
}

.camera-qr.result {
    width: 80%;
    height: auto;
}

.camera-qr.video {
    height: 250px;
    width: 250px;
    position: relative;
    margin-bottom: 2em;
}

.camera-qr.video div {
    box-shadow: none !important;
    border: none !important;
}

.camera-qr.video p {
    color: transparent !important;
    --s: 50px;
    border: 7.5px solid var(--black);
    mask:
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
}

.camera-qr.logo {
    width: 100%;
}

.camera-qr.button {
    padding: 1em;
    margin-top: 1em;
    width: 250px;
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
    text-align: center;
    color: var(--black);
    background-color: var(--yellow);
}