/* CAMERA QR CSS */
.scanner-qr .scanner-video {
    height: 250px;
    width: 250px;
    position: relative;
    margin-bottom: 2em;
}

.scanner-qr .scanner-video div {
    box-shadow: none !important;
    color: transparent !important;
    --s: 50px;
    border: 7.5px solid var(--black) !important;
    mask:
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
}

.scanner-qr .scanner-button {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 250px;
    min-width: 250px;
    border-radius: 7.5px;
    color: var(--black);
    background-color: var(--yellow);
}

.scanner-qr .scanner-button:hover {
    background-color: var(--yellow-hover);
}