/* CAMERA QR CSS */
.scanner-qr .scanner-video {
    /* Usamos max/min porque así fuerzas x tamaño, 
    si usas simplemente height/width si el navegador
    lo requiere, se lo saltará */
    max-height: 250px;
    min-height: 250px;
    max-width: 250px;
    min-width: 250px;
    margin-bottom: 2em;
}

.scanner-qr .scanner-video div {
    box-shadow: none !important;
    color: transparent !important;
    --s: 50px;
    border: 7.5px solid var(--black) !important;
    mask:
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
}

.scanner-qr .scanner-button {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 250px;
    min-width: 250px;
    border-radius: 7.5px;
    color: var(--black);
    background-color: var(--yellow);
}

.scanner-qr .scanner-button:hover {
    background-color: var(--yellow-hover);
}

.scanner-qr .scanner-result {
    white-space: pre;
    margin: 1em;
    padding: 1em 0;
    border-radius: 7.5px;
    max-width: 100%;
    overflow: scroll;
    text-align: center;
    color: var(--black);
    background-color: var(--header-blue);
}