/* INPUT CODE */
.form-code {
    background-color: var(--qr-reader-blue);
}

.form-code .input-code {
    padding: 1em;
    border-radius: 7.5px;
    max-width: 250px;
    min-width: 250px;
    color: var(--black);
    background-color: var(--white);
}

.form-code .send-button {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 250px;
    min-width: 250px;
    border-radius: 7.5px;
    color: var(--black);
    background-color: var(--yellow);
}

.form-code .send-button:hover {
    background-color: var(--yellow-hover);
}