/* HEADER CSS */
.header {
    background-color: var(--header-blue);
    margin-bottom: 3em;
}

.header .header-logo {
    font-size: 5em;
}

.header .header-title {
    font-size: 3.5em;
    margin-top: 1em;
}

.header .header-subtitle {
    font-size: 1.8em;
    margin-top: -2.5em;
    margin-right: 2em;
}

.header .header-subtitle p {
    background-color: var(--qr-reader-blue);
    width: 290px;
    padding: 0.5em;
    border-radius: 7.5px;
}

@media (max-width: 1600px) {
    .header .header-logo {
        font-size: 3.5em;
    }

    .header .header-title {
        font-size: 3em;
        margin-top: 1em;
    }

    .header .header-subtitle {
        font-size: 1.4em;
    }

    .header .header-subtitle p {
        width: 220px;
    }
}

@media (max-width: 1200px) {
    .header .header-logo {
        font-size: 4em;
    }

    .header .header-title {
        font-size: 2em;
        margin-top: 1em;
    }

    .header .header-subtitle {
        font-size: 1.2em;
    }

    .header .header-subtitle p {
        width: 175px;
    }
}

@media (max-width: 900px) {
    .header .header-logo {
        font-size: 3em;
    }

    .header .header-title {
        font-size: 1.5em;
        margin-top: 1em;
    }

    .header .header-subtitle {
        font-size: 0.8em;
    }

    .header .header-subtitle p {
        width: 125px;
    }
}