/* HEADER CSS */
.header {
    margin: 1em 2em;
}

.header img {
    max-width: 300px;
    min-width: 300px;
    max-height: 150px;
    min-height: 150px;
}

.header .header-button {
    margin-top: 0;
}

.header .header-button .buttons {
    max-width: 300px;
    min-width: 300px;
    max-height: 50px;
    min-height: 50px;
    background: var(--primary);
    border: 1px solid var(--primary);   
    border-radius: 5px;
    color: var(--white);
    padding: 1em;
    text-transform: capitalize;
    font-size: 2em;
}