/* HEADER CSS */
.header {
    margin: 1em 2em;
}

.header img {
    max-width: 300px;
    min-width: 300px;
    max-height: 150px;
    min-height: 150px;
}

.header .header-button {
    margin-top: 6em;
}

.header .header-button .buttons {
    background-color: var(--green-input);
    color: var(--black);
    padding: 1em;
    margin: 1em;
    border: none;
    cursor: pointer;
    width: 100%;
}