/* Camera QR CSS */
.camera-qr {
    border-radius: 7.5px;
    text-align: center;
    background-color: #c6c6c6;
}

.camera-qr.button {
    width: 40%;
    padding: 1em;
    margin: auto;
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
    color: #000000;
    background-color: #939393;
}

.camera-qr.disappear {
    display: none;
}

.camera-qr.video {
    width: 50%;
    height: auto;
    border-radius: 7.5px;
    margin: auto;
}

.camera-qr.video.tittle {
    margin: 1em 0;
    font-family: 'Roboto', sans-serif;
}

.camera-qr.result {
    margin: 2em 0;
    font-family: 'Roboto', sans-serif;
    border-color: #000000;
    border-radius: 7.5px;
    border-width: 2px;
}

@media (max-width: 768px) {
    .camera-qr {
        width: 80%;
    }

    .camera-qr.button {
        width: 80%;
    }

    .camera-qr.video {
        width: 80%;
    }

    .camera-qr.video.tittle {
        width: 80%;
    }

    .camera-qr.result {
        width: 80%;
    }
}