/* Camera QR CSS */
.camera-qr {
    min-width: 250px;
    height: auto;
    text-align: center;
    margin: auto;
    padding: auto;
    background-color: #ffffff;
}

.camera-qr.result {
    width: 80%;
    height: auto;
    margin: auto;
}

.camera-qr.button {
    padding: 1em;
    margin: auto;
    width: 250px;
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
    color: #000000;
    background-color: #ffcd29;
}

.camera-qr.video {
    height: auto;
    margin: auto;
    padding: 1em;
}

.camera-qr.reader {
    box-shadow: none;
    border: none;
}

.camera-qr.photo {
    width: 100%;
    height: auto;
    margin: auto;
}