/* HEADER CSS */
.header.logo {
    font-size: 3em;
    align-items: end;
    display: flex;
    justify-content:end;
}

.header.title {
    font-size: 1.5em;
    margin-top: 2.5em;
}

.header.subtitle {
    font-size: 0.8em;
    margin-top: -2.5em;
}

.header.subtitle p {
    background-color: #cacaff;
    width: 115px;
    padding: 0.5em;
    border-radius: 5px;
}