/* HEADER CSS */

.header.logo {
    font-size: 7em;
    align-items: end;
    display: flex;
    justify-content: end;
}

.header.title {
    font-size: 5em;
    margin-top: 1.5em;
}

.header.subtitle {
    font-size: 2em;
    margin-top: -2.5em;
}

.header.subtitle p {
    background-color: #cacaff;
    width: 280px;
    padding: 0.5em;
    border-radius: 5px;
}

@media (max-width: 1500px) {
    .header.logo {
        font-size: 5em;
    }

    .header.title {
        font-size: 3em;
        margin-top: 2em;
    }

    .header.subtitle {
        font-size: 1.5em;
    }

    .header.subtitle p {
        width: 210px;
    }
}

@media (max-width: 900px) {
    .header.logo {
        font-size: 3em;
    }

    .header.title {
        font-size: 1.5em;
        margin-top: 2.5em;
    }

    .header.subtitle {
        font-size: 0.8em;
    }

    .header.subtitle p {
        width: 115px;
    }
}
