@page {
    size: A4;
    margin: 0;
}

.compra-producto {
    font-family: var(--montserrat) !important;
    margin: 0 1.5em;
}

.compra-producto .logo {
    max-width: 160px;
    min-width: 160px;
    max-height: 80px;
    min-height: 80px;
}

.compra-producto .compra-title {
    margin: 0;
    width: 100%;
    max-height: 50px;
    min-height: 50px;
    padding-top: 0.5em;
    text-align: center;
    font-size: 1.6em;
    border: 3px solid rgb(100, 100, 168);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    color: rgb(100, 100, 168);
}

.compra-producto .image {
    float: left;
    max-width: 200px;
    min-width: 200px;
    max-height: 140px;
    min-height: 140px;
    padding: 0 1em 0 0;
}

.compra-producto .descripcion-corta {
    float: right;
    width: auto;
    font-size: 0.88em;
}

.compra-producto .compra-subtitle1 {
    width: auto;
    font-size: 1.1em;
    color: rgb(100, 100, 168)
}

.compra-producto .compra-data1 {
    width: auto;
}

.compra-producto .compra-data1 .compra-info1 {
    margin-bottom: -0.75em;
    font-size: 0.9em;
    color: gray;
}

.compra-producto .compra-data1 .compra-info-desc {
    margin-top: -1.5em;
    margin-left: 2em;
    font-size: 0.6em;
    color: gray;
}

.compra-producto .compra-data1 .compra-info2 {
    margin-left: -1em;
    margin-bottom: -0.75em;
    font-size: 0.9em;
}

.compra-producto .compra-subtitle2 {
    width: auto;
    font-size: 1.1em;
    color: rgb(100, 100, 168)
}

.compra-producto .compra-data2 {
    width: auto;
}

.compra-producto .compra-data2 .compra-info1 {
    color: gray;
    margin-bottom: -0.75em;
    font-size: 0.9em;
}

.compra-producto .compra-data2 .compra-info-desc {
    margin-top: -1.5em;
    margin-left: 2em;
    font-size: 0.6em;
    color: gray;
}

.compra-producto .compra-data2 .compra-info2 {
    margin-left: -1em;
    margin-bottom: -0.75em;
    font-size: 0.9em;
}

.compra-producto .compra-subtitle3 {
    width: auto;
    font-size: 1.1em;
    color: rgb(100, 100, 168)
}

.compra-producto .compra-data3 {
    width: 530px;
}

.compra-producto .compra-data3 .compra-info1 {
    padding: 0.5em 0em 0.5em 1.5em;
    margin: 0;
    font-size: 0.9em;
    border: 1px solid var(--light-gray);
    background-color: var(--light-gray);
}

.compra-producto .compra-data3 .compra-info2 {
    margin: 0;
    padding: 0.5em 0em 0.5em 1em;
    font-size: 0.9em;
    border: 1px solid var(--light-gray);
}

.compra-producto .image-qr {
    margin-top: -1.5em;
    width: 120px;
    height: 120px;
    border: 5px solid rgb(100, 100, 168);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.compra-producto .compra-info3 {
    width: auto;
    font-size: 0.9em;
}

.compra-producto .compra-subtitle4 {
    width: auto;
    font-size: 1.1em;
    color: rgb(100, 100, 168)
}

.pdf-producto {
    font-family: var(--montserrat) !important;
    max-width: 900px;
    min-width: 900px;
    margin: 0 1.5em;
}

.pdf-producto .logo {
    max-width: 120px;
    min-width: 120px;
    max-height: 40px;
    min-height: 40px;
    margin: 20px 0 10px 20px;
}

.pdf-producto .compra-title {
    margin: 0;
    margin-bottom: 10px;
    max-width: 395px;
    min-width: 395px;
    max-height: 25px;
    min-height: 25px;
    padding-top: 0.25em;
    text-align: center;
    font-size: 1em;
    border: 2px solid rgb(100, 100, 168);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: rgb(100, 100, 168);
}

.pdf-producto .image {
    float: left;
    max-width: 72.5px;
    min-width: 72.5px;
    max-height: 50px;
    min-height: 50px;
    padding: 0.5em 1em 0.5em 0;
}

.pdf-producto .descripcion-corta {
    float: right;
    max-width: 420px;
    font-size: 0.43em;
}

.pdf-producto .compra-subtitle1 {
    margin-top: 1em;
    width: auto;
    font-size: 0.75em;
    color: rgb(100, 100, 168)
}

.pdf-producto .compra-data1 {
    margin-top: -10px;
}

.pdf-producto .compra-data1 .compra-info1 {
    margin-bottom: -0.75em;
    font-size: 0.6em;
    color: gray;
}

.pdf-producto .compra-data1 .compra-info-desc {
    margin-top: -1.5em;
    font-size: 0.3em;
    color: gray;
}

.pdf-producto .compra-data1 .compra-info2 {
    margin-top: 1em;
    margin-left: -5px;
    margin-bottom: -0.75em;
    font-size: 0.6em;
}

.pdf-producto .compra-subtitle2 {
    width: auto;
    font-size: 0.75em;
    color: rgb(100, 100, 168)
}

.pdf-producto .compra-data2 {
    width: auto;
    margin-top: -10px
}

.pdf-producto .compra-data2 .compra-info1 {
    color: gray;
    margin-bottom: -0.75em;
    max-width: 100px;
    min-width: 100px;
    font-size: 0.6em;
}

.pdf-producto .compra-data2 .compra-info-desc {
    margin-top: -1.5em;
    font-size: 0.3em;
    color: gray;
}

.pdf-producto .compra-data2 .compra-info2 {
    margin-left: -220px;
    margin-bottom: -100px;
    font-size: 0.6em;
}

.pdf-producto .compra-subtitle3 {
    margin-top: 1em;
    width: auto;
    font-size: 0.75em;
    color: rgb(100, 100, 168)
}

.pdf-producto .compra-data3 {
    width: 265px;
    margin-bottom: 35px;
}

.pdf-producto .compra-data3 .compra-info1 {
    padding: 0.5em 0em 0.5em 1.5em;
    margin: 0;
    font-size: 0.5em;
    border: 1px solid #d1d2d4;
    border-bottom: 2px solid #d1d2d4;
    background-color: #d1d2d4;
}

.pdf-producto .compra-data3 .compra-info2 {
    padding: 0.5em 0em 0.5em 1.5em;
    margin: 0;
    font-size: 0.5em;
    border: 1px solid #d1d2d4;
    background-color: #d1d2d4;
}

.pdf-producto .compra-data3 .compra-info3 {
    padding: 0.5em 0em 0.5em 1.5em;
    margin: 0;
    font-size: 0.5em;
    border: 1px solid #d1d2d4;
    border-bottom: 2px solid #d1d2d4;
    background-color: #d1d2d4;
}

.pdf-producto .compra-data3 .compra-info-data1 {
    margin: 0;
    padding: 0.5em 0em 0.5em 1em;
    font-size: 0.5em;
    border-top: 2px solid #d1d2d4;
    border-right: 2px solid #d1d2d4;
    border-bottom: 1px solid #d1d2d4;
}

.pdf-producto .compra-data3 .compra-info-data2 {
    margin: 0;
    padding: 0.5em 0em 0.5em 1em;
    font-size: 0.5em;
    border-top: 1px solid #d1d2d4;
    border-right: 2px solid #d1d2d4;
    border-bottom: 1px solid #d1d2d4;
}

.pdf-producto .compra-data3 .compra-info-data3 {
    margin: 0;
    padding: 0.5em 0em 0.5em 1em;
    font-size: 0.5em;
    border-top: 1px solid #d1d2d4;
    border-right: 2px solid #d1d2d4;
    border-bottom: 2px solid #d1d2d4;
}

.pdf-producto .image-qr {
    padding: 5px;
    width: 65px;
    height: 65px;
    margin-left: -52.5px;
    border: 2px solid rgb(100, 100, 168);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pdf-producto .compra-qr {
    margin-left: -45px;
    margin-top: -5px;
    font-size: 0.5em;
}

.pdf-producto .compra-subtitle4 {
    width: auto;
    font-size: 0.75em;
    color: rgb(100, 100, 168)
}