@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  background-color: var(--white);
  margin: 0;
}

:root {
  --primary:        #1967D2;
  --black:          #000000;
  --white:          #ffffff;
  --gray:           #808080;
  --light-gray:     #e6e6e6;
  --yellow:         #ffcd29;
  --yellow-hover:   #cda523;
  --green:          #c4ffcc;
  --green-form:     #aff4c6;
  --green-input:    #14ae5c;
  --blue-button:    #cdd2ff;
  --header-blue:    #3a99ff;
  --qr-reader-blue: #bed5fe;
  --montserrat:       'Montserrat', sans-serif;}

.montserrat {
  font-family: var(--montserrat) !important;
}

.flex-start {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}