body {
  font-family: 'Roboto', sans-serif;
  background-color: #c2ccf6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --black: #000000;
  --letra: 'Roboto', sans-serif;
}

.roboto {
  font-family: var(--letra) !important;
}

.flex-start {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

