body {
  background-color: var(--qr-reader-blue);
}

:root {
  --black: #000000;
  --white: #ffffff;
  --yellow: #ffcd29;
  --header-blue: #3a99ff;
  --qr-reader-blue: #cacaff;
  --letra: 'Roboto', sans-serif;
}

.roboto {
  font-family: var(--letra) !important;
}

.flex-start {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}